# Maven projects
cgmes-dl/target
cgmes-dl/cgmes-dl-conversion/target
cgmes-dl/cgmes-iidm-extensions/target
substation-webviewer/target
target

# IntelliJ
/.idea
*.iml

# Compilation settings
install.cfg

# Eclipse projects
.classpath
.project
org.eclipse.core.resources.prefs
org.eclipse.jdt.core.prefs
org.eclipse.m2e.core.prefs
org.eclipse.jdt.groovy.core.prefs
