# Maven projects
cgmes-dl/target
cgmes-dl/cgmes-dl-conversion/target
cgmes-dl/cgmes-iidm-extensions/target
iidm/target
iidm/iidm-protobuf-converter/target

substation-webviewer/target
target

# IntelliJ
/.idea
*.iml

# Compilation settings
install.cfg

# Eclipse projects
.classpath
.project
org.eclipse.core.resources.prefs
org.eclipse.jdt.core.prefs
org.eclipse.m2e.core.prefs
org.eclipse.jdt.groovy.core.prefs
/ampl_files/ampl_network_batteries.txt
/ampl_files/ampl_network_branches.txt
/ampl_files/ampl_network_buses.txt
/ampl_files/ampl_network_generators.txt
/ampl_files/ampl_network_hvdc.txt
/ampl_files/ampl_network_lcc_converter_stations.txt
/ampl_files/ampl_network_limits.txt
/ampl_files/ampl_network_loads.txt
/ampl_files/ampl_network_ptc.txt
/ampl_files/ampl_network_rtc.txt
/ampl_files/ampl_network_shunts.txt
/ampl_files/ampl_network_static_var_compensators.txt
/ampl_files/ampl_network_substations.txt
/ampl_files/ampl_network_tct.txt
/ampl_files/ampl_network_vsc_converter_stations.txt
