.BUSBAR_SECTION{stroke:rgb(0,0,255);}

.BREAKER {
    stroke:rgb(0,0,255);
    stroke-width:2;
    fill-opacity:1;
}

.DISCONNECTOR {
    stroke:rgb(0,0,0);
    stroke-width:3
}
.GENERATOR{stroke:rgb(0,0,255);}
.LINE{stroke:rgb(0,0,255);} 
.LOAD{stroke:rgb(0,0,255);}
.LOAD_BREAK_SWITCH{stroke:rgb(0,0,255);}
.NODE {stroke:rgb(0,0,0);fill:rgb(0,0,0);fill-opacity:1;}
.CAPACITOR{stroke:rgb(0,0,255);}
.INDUCTOR{stroke:rgb(0,0,255);}
.STATIC_VAR_COMPENSATOR{stroke:rgb(0,0,255);}
#path5227 { stroke-width:0.4; stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:1.4;}
#path5229 {stroke-width:0.4;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;}
#path5231 {stroke-width:0.4;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;}
.TWO_WINDINGS_TRANSFORMER{stroke:rgb(0,0,255);}
.THREE_WINDINGS_TRANSFORMER{stroke:rgb(0,0,255);}
.VSC_CONVERTER_STATION {stroke:rgb(0,0,255);font-size:7.4314661px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-feature-settings:normal;text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;stroke-miterlimit:4;}
.DANGLING_LINE {stroke:rgb(0,0,0);stroke-width:2;}
.PHASE_SHIFT_TRANSFORMER {stroke:rgb(0,0,255);stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;}
