# dependencies
/node_modules

# production
/build

/coverage
/es
/lib
/umd
npm-debug.log*

/dist

# webstorm
/.idea

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

/demo/node_modules
/demo/build